
/*데스크탑, PC크기*/
@media all and (min-width:769px) {
    .coloring {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 8.5%;
        background-color: white;
        z-index: 999999;
    }

    .logo {
        cursor: pointer;
        width: 7%;
        margin-left: 13rem;
    }

    .selectmenu {
        display: flex;
        list-style: none;
        margin: 0;
        margin-left: 5rem;
    }

    .movemenu {
        width: 50%;
        transition: all .3s ease;
        margin-left: 4rem;
        font-size: 1.1rem;
        display: inline;
        cursor: pointer;
        text-align: center;
    }

    .movemenu:hover {
        transition: all .3s ease;
    }

    .movemenu>span {
        position: relative;
    }

    .movemenu>span::after {
        content: '';
        width: 0%;
        left: 50%;
        height: 1px;
        display: block;
        position: absolute;
        margin-top: 4px;    
        transition: all .3s ease;
    }

    .movemenu::after {
        display: block;
        /*a요소를 블록 요소라고 선언*/
        content: '';
        border-bottom: solid 3px black;
        transform: scaleX(0);
        /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
        transition: transform 250ms ease-in-out;
        /*변형 방식*/
    }

    .movemenu:hover::after {
        transform: scaleX(1);
    }
}