@font-face {
    font-family: 'HaesuB';
    src: url('https://bald-chatter-wrinkle.glitch.me/fonts/해수체B.ttf') format('ttf');
  }
  @font-face {
    font-family: 'HaesuL';
    src: url('https://bald-chatter-wrinkle.glitch.me/fonts/해수체L.ttf') format('ttf');
  }
  @font-face {
    font-family: 'HaesuM';
    src: url('https://bald-chatter-wrinkle.glitch.me/fonts/해수체M.ttf') format('ttf');
  }
@font-face {
    font-family: "NexaBold";
    src: url('https://bald-chatter-wrinkle.glitch.me/fonts/NexaDemo-Bold.otf') format('opentype');
  }